<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#fff;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/assets/Micro-logo2.png" alt="Micro">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      

        <% if user_signed_in? %>
          
          <li>
            <a href="#", class="profile-image dropdown-toggle" data-toggle="dropdown", role="button", aria-expanded="false">
              <%= image_tag current_user.avatar, class: "avatar-xs" %>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "#{current_user.name}<br><b>@#{current_user.username}</b>".html_safe, user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to("Find Friends", find_friends_path) %></li>
              <li><%= link_to "Settings", user_path(current_user) %></li>
              <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
          <form class="navbar-form navbar-right">
            <button id="new-tweet" type="button" data-toggle="modal" data-target="#new-tweet-modal" class="btn btn-danger"> Share... </button>
          </form>
        <% end %>
      </ul>
    </div>
  </div>
</form>
</nav>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div id="flipkart-navbar">
    <div class="container">
        <div class="row row1">
            <ul class="largenav">
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">#DGB</a></li>
                <li class="upper-links"><a class="links" href="https://campusbox.org/">#STEEM</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">#FLDC</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">#BTC</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">#ETH</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">#XRP</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">#POT</a></li>
                <li class="upper-links"><a class="links" href="https://campusbox.org/">#STORJ</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">#FLDC</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">#BTC</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">#ETH</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">#XRP</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">#XRP</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">#POT</a></li>
                <li class="upper-links"><a class="links" href="https://campusbox.org/">#STORJ</a></li>
                 <li class="upper-links"><a class="links" href="http://clashhacks.in/">#BTC</a></li>
                
                

               
                    
                </li>
                
            </ul>
        </div>
        <div class="row row2">
            <div class="col-sm-2">
               
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    <input class="flipkart-navbar-input col-xs-11" type="" placeholder="Search coins, traders, and more..." name="">
                    <button class="flipkart-navbar-button col-xs-1">
                        <svg width="15px" height="15px">
                            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                        </svg>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class="container" style="background-color: #2874f0; padding-top: 10px;">
        <span class="sidenav-heading">Home</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
    <a href="http://clashhacks.in/">#DGB</a>
    <a href="http://clashhacks.in/">#NAV</a>
    <a href="http://clashhacks.in/">#ETH</a>
    <a href="http://clashhacks.in/">#STEEM</a>
    <a href="http://clashhacks.in/">#FLDC</a>
    <a href="http://clashhacks.in/">#ETHC</a>
    <a href="http://clashhacks.in/">#XRP</a>
</div>
